#snake-field{
    display: inline-block; 
}
.snake-renew, .snake-start, .snake-start-nonactive {
    width: 120px;
    padding: 15px;
    color: black;
    background-color: #00FF7F;
    text-align: center;
    cursor: pointer;
    float: left; 
}
.snake-start, .snake-start-nonactive {
    margin-right: 10px;
}
.snake-start-nonactive{
    background-color: #005300;
}

.game-table{
    border-collapse: collapse;
    background-color: #000000;
}
td.game-table-cell{
    width: 15px;
    height: 15px;                                  
    border: 1px dotted #eee;
}
.snake-unit{
    background-color: white;
}
.food-unit{
    background-color: white;
}
.problem-unit {
    background-color: brown;
}
.buttons{
    display: inline-block;
}
.wrap{
    margin: 30px auto 0;
    text-align: center;
}